.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

#login {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

#login i {
    margin-bottom: 5px;
}

#login input {
    margin-bottom: 10px;
}

#login button i {
    margin-top: 5px;
}

.share button {
    margin-top: 5px;
}

.vid {
    flex: 0 1 auto;
    height: 360px;
    border-radius: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}
