* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#login {
    width: 242px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

#login div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#login div div {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 1.4rem;
}

#login div div i {
    margin-top: 10px;
}

#login input {
    padding: 4px;
    text-indent: 5px;
}

#login div i {
    color: white;
}

#login button {
    cursor: pointer;
    font-size: 1.4rem;
}

#control {
    width: fit-content;
    margin: 5px auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

#control button {
    padding: 4px;
}

#control i {
    font-size: 1.4rem;
}

#devicesList {
    width: 198px;
    margin: 5px auto 0 auto;

    position: fixed;
    left: 0;
    right: 0;
}

#devicesList div {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#devicesList div div {
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

#devicesList div div i {
    color: white;
    margin-top: 4px;
}

#devicesList select {
    width: 100%;
    padding: 4px;
}


#localMedia {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

#localMedia video {
    height: 160px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10px;
}

#remoteVideos {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.vid {
    height: 312px;
    cursor: pointer;
}

.hidden {
    display: none;
}
